body {
    color: purple; 
    background-color: #e9e2ee;
}
h3 {
    font-family: Georgia, "Times New Roman",
        Times, serif;
    }
/* for visualizing divs
span { border: 1px solid #101010; }
div { border: 1px solid #101010; }
*/
p {
	padding-left: 5px;
	margin: 0em;
	color: #010101
}
a {
	color: #010101
}
#palette { float: left; display: block; }
#inCanvas { float: left; 
    border: 0px solid #101010;
}
#inputDiv { 
	min-height: 300px;
	min-width: 300px;
}
.approx { 
	float: left;
    color: #e9e2ee;
	border: 1px solid #111111;
}
.approxesDiv {
	overflow: auto;
}
.statusDiv {}
.graphCanvas {}
