body {
    color: purple; 
    background-color: #e9e2ee;
}
h3 {
    font-family: Georgia, "Times New Roman",
        Times, serif;
    }
div {
    border: 0px solid #101010;
}
span {
    border: 0px solid #101010;
}
p {
	margin: 0em;
	color: #222222
}
.approx {}
#palette { float: left; display: block; }
#inCanvas { float: left; 
    border: 0px solid #101010;
}
#inputDiv { 
	min-height: 300px;
	min-width: 300px;
}
.approx { 
	float: left;
    color: #e9e2ee;
}
.statusDiv {}
.graphCanvas {}
